/*CSS reset settings here*/
* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 950px;
    padding: 15px;
    background-color: silver;
}

#header {
    min-height: 150px;
    width: auto;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: green;
}

#navigation {
    min-height: 300px;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 88px;
    background-color: blue;
    display: inline-block;
}

#main_content {
    min-height: 400px;
    width: 700px;
    padding: 8px;
    margin: auto;
    background-color: red;
    display: inline-block;
}

.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 9px;
    display: inline-block;
}

#advertisement {
    min-height: 120px;
    width: 660px;
    margin: 20px;
    background-color: purple;
    display: inline-block;
}